/* body * {
	color:                    hsla(210, 100%, 100%, 0.88) !important;
	background:               hsla(210, 100%,  50%, 0.33) !important;
	outline:    0.25rem solid hsla(210, 100%, 100%, 0.50) !important;
} */

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter.ttf) format('truetype');
}

.debug-center {
	display:         flex;
	justify-content: center;
	align-items:     center;
}

* {
     box-sizing: border-box;
}

html {
  font-size: 18px;
  line-spacing: 1,2;
}



body, body * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
	margin:          unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}


/* SMALL SCREENS*/
@media screen and (max-width: 620px) {

  .error {
    background-color: red;
    z-index: 1;
  }

  .AppLanding {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Header {
    grid-column: 1/2;
    background-color: white;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  .Header img {
    width: 100%;
  }

  .BigNav {
    grid-column: 1 / 3;
  }

  .mainnav {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to right, white 0%, hsl(313, 100%, 78%) 100%);
    width: 100%;

  }

  .mainnav>.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 5px;
  }

  .mainnav>.logo img{
    height: 50px;

  }

  .underline {
    display: inline;
    color: hsl(0, 0%, 15%);
    margin: 10px;
    box-shadow: inset 0 -0.25em #D461A6;
    transition: color 1s ease;
    font-family: 'Inter', sans-serif;
  }


  /* .BigNav span {
    margin: 15px;
  } */

  .BigNav .Active {
    color:  hsl(324, 100%, 30%);
  }

  .BigNav .hidden {
    display: none;
  }

  .BigNav .show {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
    position: absolute;
    top: 0px;
    width: 100%;
    background: linear-gradient(to right, white 0%, hsl(313, 100%, 78%) 100%);
  }

  .BigNav .show span {
    /* display: inline; */
    color: hsl(0, 0%, 15%);
    margin: 10px;
    box-shadow: inset 0 -0.25em #D461A6;
    transition: color 1s ease;
    font-family: 'Inter', sans-serif;
    z-index: 2;
  }

  .icon.close {
    z-index: 4;
    position: relative;
  }

  ul {
    list-style: none;
  }

  .logged-in {
    margin: 3px;
    color: hsl(0, 0%, 15%);
  }

  .icon {
    height: 35px;
  }

  .notReady {
    text-decoration: line-through;
  }

  .Aside {
    grid-column: 1 / 3;
    /* background-color: grey; */
    margin: 15px;
    margin-left: 0px;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    z-index: 5;
  }

  .Aside ul {
    /* background-color: hsl(0, 0%, 95%); */
    background-color: hsl(11, 80%, 82%);
    animation: mymove 5s infinite;
    border-radius: 5px;
    margin-right: 10px;
  }

  .Aside li {
    display: inline-block;
    /* background-color: hsl(0, 0%, 85%); */
    padding: 5px;
    margin: 4px;
    font-family: 'Inter', sans-serif;
  }

  @keyframes mymove {
  50% {background-color: hsl(324, 80%, 72%);}
  }

  .section-wrapper {
    grid-column: 1 / 3;
  }

  .Section h2 {
    display: none;
  }

  .card-list{
  }

  .Footer {
    background-color: white;
    display:         flex;
  	justify-content: center;
  	align-items:     center;
    margin-bottom: 180px;
  }

  /* cards*/

  .card {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 3px;
    background-color: white;
    height: 270px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .card--content {
    position: relative;
    top: 60%;
    left: 30px;
    background-color: rgb(255,255,255,0.5);
    width: max-content;
    max-width: 80%;
    border-radius: 2px;
    padding: 3px;
  }

  .card--content:hover {
    background-color: rgb(228,160,136);
    width: fit-content;
    cursor: pointer;
  }

  #section-name {
    left: 20px;
    position: relative;
  }

  /* ---------------------------------------------*/
  .login-form {
    grid-column: 1 / 3;
    padding: 2px 15px 2px 15px;
    background-color: hsl(0, 0%, 95%);
    display: block;
  }

  .log-in-form {
      display: flex;
  }

  .login-form label {
    display: block;
    margin-top: 6px;
    margin-bottom: 3px;
  }

  .login-form input {
    width: 100%;
    border: 2px solid white;
    border-color: hsla(0, 0%, 75%, 0.5);
    border-radius: 2px;
    padding: 4px;
  }

  .login-form button {
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: hsl(0, 0%, 60%);
      border: 1px solid white;
      border-radius: 4px;
      height: 2em;
      padding: 2px 10px 2px 10px;
    }

    .login-form .align-left {
      text-align: center;
    }

    .sign-up-form .align-center{
      text-align: center;
    }

    .sign-up-form h2 {
      margin-top: 5px;
    }

    .align-center {
      text-align: center;
    }

    .add-form--form.sign-up-form {
      margin: 0;
      padding: 0;
    }


  /* ---------------------------------------------*/

  .profile-card {
    grid-column: 1 / 3;
    padding: 10px;
    text-align: center;
  }

  .exit-form {
    float: right;
    margin: 5px 10px 10px 0px;
    width: 20px;
    text-align: center;
  }

  /* FORM */

  .add-form {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    overflow: scroll;
    z-index: 10; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

  .add-form--form {
    margin: auto;
    display: block;
    width: 95%;
    max-width: 800px;
    text-align: left;
    color: #363636;
    padding: 10px 0 20px 20px;
    /* background-color: #ccc; */
    margin:10px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
  }

  .sign-up-form .add-form--form {
    padding: 0;
  }

  /* experiment style */

  .add-form label:not(.boxes) {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 20px;
    padding: 2px 5px 2px 5px;
    color: #404040;
    font-size: 0.8em;
    overflow: hidden;
    position:relative;
    z-index:10;
  }

  .add-form label.radius {
    font-size: 0.8em;
  }

  .add-form label.checkbox {
    font-size: 0.8em;
  }

  .add-form span {
    font-size: 0.8em;
  }


  .add-form ul {
    list-style:none;
    padding:0;
    margin:0;
  }

  .add-form li {
    display: block;
    padding: 2px;
    border:1px solid #404040;
    margin-bottom: 20px;
    border-radius: 3px;
    position:relative;
    z-index:1;
    margin-left: 5px;
  }

  .add-form p {
    font-size: 0.9em;
  }

  .add-form h3 {
    text-decoration: underline;
  }

  /* .add-form li:last-child {
    border:none;
    margin-bottom: 0px;
    text-align: center;
  } */

  .add-form input, textarea, select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 1.7em;
    line-height: 1em;
    font-size: 0.9em;
    padding: 0;
    padding-left: 0.2em;
    position:relative;
    z-index:1;
  }

  .add-form input[type="radio"] {
    width: auto;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
  }

  .add-form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
  }

  .add-form input[type="date"] {
    display: inline-block;
  }


  .add-form .short {
    max-width: 100%;
    display: inline-block;
  }

  .add-form .name {
    width: 200px;
  }
  .add-form .short li  {
      margin-left: 10px;
  }

  .add-form select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }

  .add-form textarea {
    height: 3em;
    /* border:1px solid #404040;
    border-radius: 3px; */
    margin-top: 0.2em;
    max-width: 760px;
  }

  .add-form button {
    position: relative;
    font-size: 0.9em;
    color: #525252;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0.1em 0.5em 0.1em 0.5em;
  }

  .log-in-form--form .exit-form {
    float: right;
    margin: -10px -5px 10px 0px;
    width: 20px;
    text-align: center;
  }

  /* ---------------------------------------------*/
  /* modal or detailed card */

  .card-updated{
    display: block;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    /*padding-top: 50px; Location of the box
    padding-bottom: 50px;*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .card-updated--content {
    margin-left: 20px;
    display: block;
    width: 70%;
    max-width: 100%;
    text-align: left;
    color: #ccc;
    padding: 10px 0 20px 20px;
    /* height: 150px; */
  }

  .card-updated img {
    margin: auto;
    display: block;
    /* width: 80%; */
    max-width: 100%;
    /*max-height: 70%;*/
  }


  .card-updated--content, .card-updated > img {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
  }

  button {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 2px;
    height: 2em;
  }

  .detailedButton {
    padding: 2px 10px 2px 10px;
  }

  .spoiler {
    color: black;
    background-color: black;
    transition: color 2s ease-in;
  }

  .spoiler:clicked {
    color: rgb(200,200,200);
  }

  .contenedor-flechas {
    margin-left: 10px;
  }

  .flechas {
    stroke-width: 0px;
  }

  .flechas .verde {
    fill: #829A41;
  }

  .flechas .roja {
    fill: #FD694B;
  }

}
